@import
	url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css)
	;

@import url('navigation.css');

body {
	margin: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#9bbb59;
}

#top_bar {
	background-color: #9bbb59;
	height: 150px;
	border: 5px double black;
	}
	
#top_img {
	float:left;
	width:200px;
}
	
#top_bar_p{
	font-size: 40px;
	color: black;
	width:30%;
	float:right;
}

#masthead {
	border: 5px double black;
	background-color: #9BBB59;
}