vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Jun 2016 18:53:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|test1.html
vti_author:SR|Pardeep-PC\\Pardeep_2
vti_modifiedby:SR|Pardeep-PC\\Pardeep_2
vti_timecreated:TR|20 Mar 2016 22:11:36 -0000
vti_nexttolasttimemodified:TW|14 Jun 2016 18:52:58 -0000
vti_cacheddtm:TX|14 Jun 2016 18:53:20 -0000
vti_filesize:IR|156
vti_cachedlinkinfo:VX|Q|layout.css Q|style3_heading.css Q|style3_page.css Q|style3_footer.css
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FQUS|styles/style3_heading.css FQUS|styles/style3_page.css FQUS|styles/style3_footer.css
