vti_encoding:SR|utf8-nl
vti_author:SR|Pardeep-PC\\Pardeep_2
vti_modifiedby:SR|Pardeep-PC\\Pardeep_2
vti_timelastmodified:TR|29 Jun 2016 19:08:43 -0000
vti_timecreated:TR|14 Jun 2016 18:42:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|styles/style3.css
vti_nexttolasttimemodified:TW|29 Jun 2016 18:36:23 -0000
vti_cacheddtm:TX|29 Jun 2016 19:08:43 -0000
vti_filesize:IR|3716
vti_cachedlinkinfo:VX|Q|http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css S|../images/search.png
vti_cachedsvcrellinks:VX|NQHS|http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css FSUS|images/search.png
